<div class="acoes-painel">
    <div class="botoes-acoes">
    <button mat-fab extended style="background-color: #4b3215;">
        <mat-icon>description</mat-icon>
        Gravar Rascunho
      </button>
      <button mat-fab extended style="background-color: #4b3215;">
        <mat-icon>assignment_turned_in</mat-icon>
        Publicar
      </button>
    </div>
      <form class="selection-button" dir="ltr">
        <mat-icon>device_hub</mat-icon>
        <mat-select matNativeControl required placeholder="Criar Ação">
          <mat-option value="Interno">Interno</mat-option>
          <mat-option value="Externo">Externo</mat-option>
  
        </mat-select>
      </form>
   <div class="painel">
    <mat-tab-group>
        <mat-tab class="tab" label="AÇÕES"> Content 1 </mat-tab>
        <mat-tab label="CONECÇÕES"> Content 2 </mat-tab>>
      </mat-tab-group>
   </div>
      
</div>
