.container {
    max-width: 700px;
    margin: 0 auto;
    
}
.head {
    margin-bottom: 30px ;
    display: flex;
}
.ng-tns-c1205077789-5 {
    height: 56px;
}
.forms {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.mat-form {
    flex: 1;
    display: flex;
     /* Set a fixed height for all mat-form-field elements in a row */
  }
.NgxEditor__Wrapper {
    height: 300px;
    max-width: 700px;
    
}
.selection-button {
    width: 110px;
    padding: 8px;
    border-radius: 12px;
    background-color: rgb(252, 213, 96);
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-top: 10px;
    text-transform: uppercase;
}

